<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        
    
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Maega_Muse.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    
<userSettings>
        <Maega_Muse.My.MySettings>
                <setting name="savedwidth" serializeAs="String">
                        <value>1420</value>
                </setting>
                <setting name="savedheight" serializeAs="String">
                        <value>770</value>
                </setting>
                <setting name="compactopacity" serializeAs="String">
                        <value>1</value>
                </setting>
                <setting name="mainopacity" serializeAs="String">
                        <value>1</value>
                </setting>
                <setting name="htmlkey" serializeAs="String">
                        <value>z2cisuoza1ncmpcpvh0a</value>
                </setting>
                <setting name="pha2key" serializeAs="String">
                        <value>ezf9a7s3eb54xbynjazs</value>
                </setting>
                <setting name="firstrun" serializeAs="String">
                        <value>True</value>
                </setting>
        </Maega_Muse.My.MySettings>
    </userSettings>
</configuration>